/* Space out content a bit */

body {
  font-family: 'Century Gothic';
  background-color: #edf1f2;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100000;
  height: 50px;
  padding: 5px;
  font-size: 26px;
  line-height: 30px;
  background: -webkit-linear-gradient(to bottom left, #6c5948, #000,#4a5f5c);
  background: -o-linear-gradient(to bottom left, #6c5948, #000,#4a5f5c);
  background: -moz-linear-gradient(to bottom left, #6c5948, #000,#4a5f5c);
  background: linear-gradient(to bottom left, #6c5948, #000,#4a5f5c);
  color: #fff;
}
.logo{
  cursor: pointer;
  position: absolute;
  width: 220px;
  height: 100px;
  margin-top: -39px;
  z-index: 10000;
}
.main_nav{
  position: relative;
  width: 620px;
  margin: auto;
  margin-top: 4px;
  border-bottom: 0px;
}
.main_nav li{
  height: 40px;
}
.main_nav li:nth-child(1){
  background-color: #2b4345;
}
.main_nav li:nth-child(2){
  background-color: #2e0f14;
}
.main_nav li:nth-child(3){
  background-color: #2e3437;
}
.main_nav li a{
border-radius: 0px;
height: 40px;
padding: 0px;
font-size: 17px;
width: 200px;
color: white;
}

.main_nav li a:hover {
  background: #fc0 !important;
}

.selected {
  background: #fc0 !important;
}


.lightBlue {
  color: lightskyblue;
}

.landingPage {
  height: 768px;
  background: url('../images/smartmartbg.png') no-repeat;
  background-size: 100% 100%;
  background-position-y: -40px; 
}

.analysePage {
  height: 768px;
  background: url('../images/analyse.jpg') no-repeat;
  background-size: 100% 100%;
}

.go {
  position: relative;
  top: 120px;
  width: 650px;
  font-size: 80px;
  height: 120px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background: rgba(0,0,0,.4);
  border-radius: 60px;
}

.cartIcon {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url('../images/cartIcon.jpg') no-repeat;
  background-size: 100% 100%;
}

@-webkit-keyframes rotateY {
  from{
    -webkit-transform: rotateY(0deg);
  }
  to{
    -webkit-transform: rotateY(360deg);
  }
}
@-moz-keyframes rotateY {
  from{
    -moz-transform: rotateY(0deg);
  }
  to{
    -moz-transform: rotateY(360deg);
  }
}
@-ms-keyframes rotateY {
  from{
    -ms-transform: rotateY(0deg);
  }
  to{
    -ms-transform: rotateY(360deg);
  }
}
@-o-keyframes rotateY {
  from{
    -o-transform: rotateY(0deg);
  }
  to{
    -o-transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.rotating {
  -webkit-animation: rotateY 4s linear infinite;
  -moz-animation: rotateY 4s linear infinite;
  -ms-animation: rotateY 4s linear infinite;
  -o-animation: rotateY 4s linear infinite;
  animation: rotateY 4s linear infinite;
}

.marginAuto {
  margin: auto;
}

nav {
  position: relative;
  top: 100px;
  width: 495px;
  margin: auto; 
  
}

.navTile {
  float: left;
  margin: 0 5px 5px 0; 
  width: 160px;
  height: 160px;
  border-radius: 4px;
  font-size: 22px;
  font-style: italic;
  background: rgba(0,0,0,.4);
  color: #fff;
  display: table;
  text-align: center;
  cursor: pointer;
}

.navTile:hover {
  background: rgba(255, 255, 0, .6);
}
.tileIcon {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 12px;
  display: block;
}

.tileTitle {
  vertical-align: middle;
  display: table-cell;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  /*border-bottom: 1px solid #e5e5e5;*/
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.retailer-info {
  overflow: scroll;
  position: relative;
  height: 550px;
  float: left;
  width: 30%;
}

.map-container {
  position: relative;
  height: 600px;
  float: left;
  width: 69%;
  margin-left: 1%;
}

.retailer-info li {
  list-style: none;
  position: relative;
  float: left;
  width: 100%;
}

.head {
  position: relative;
  float: left;
  width: 100%;
  min-height: 20px;
  padding: 10px 0 10px 10px;
  border-bottom: 1px dotted #ddd;
}
.headHover{
  border: 1px solid #ddd;
  border-radius: 4px;
/*  zoom:1.5;
*/  font-weight: bold;
}

.head-data {
  position: relative;
  float: left;
  width: 88%;
  float: right;
}

.container {
  width: 100%;
  padding: 0;
  background-color: #edf1f2;
  overflow: hidden;
}

/* Customize container */

@media (max-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}

.angular-google-map-container {
  height: 400px;
}

.inputDesc {
  height: 50px;
  width: 70%;
  font-size: 24px;
  margin-right: 10px;
}

.product {
  padding: 12px 16px;
  font-size: 12px;
  border-bottom: 1px dotted #aaa;
}
.productDesc{
  font-size: 15px;
  font-weight: bold;
}
.resultHolder {
  min-height: 100px;
/*  margin-bottom: 50px;
*/}

.list {
  background-color: aliceblue;
  margin-top: 10px;
}
.check{
  text-decoration: underline;
}
.content-container {
}

.label {
  width: 280px;
  color: #aaa;
  text-align: right;
  display: inline-block;
}

.column {
  width: 75px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

@media(min-width: 1260px) {
  .column{
    width: 130px;
  }

  .column-split{
    width: 200px;
  }

  .column-big{
    width: 620px
  }
}

.column-big{
  width: 820px
}

.column-split{
  width: 400px;
}

.column70 {
  width: 70px;
}

.column90 {
  width: 90px;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

.vborder {
  border-bottom: 1px solid #000;
  border-left: 5px solid lightskyblue;
  font-weight: bold;
}

.cell {
  border: 1px solid #bbb;
  height: 30px;
  overflow: hidden;
  color: #fff;
  line-height: 28px;
}

.cell span {
  float: left;
  display: inline-block;
  font-size: 11px;
  line-height: 25px;
  height: 100%;
}
.bar0 {
  background: #cccc00;
}

.bar1 {
  background: #ffccee;
}

.bar2 {
  background: #cccccc;
}

.bar3 {
  background: #ffccaa;
}

.bar4 {
  background: #cccc88;
}

.bar5 {
  background: #ffcc66;
}

.bar6 {
  background: #cccc44;
}

.bar7 {
  background: #ffcc22;
}

.bar8 {
  background: #cccc00;
}

.bar9 {
  background: #fcaaee;
}

.bar10 {
  background: #ccaacc;
}

.bar11 {
  background: #fcccaa;
}

.bar12 {
  background: #cccc44;
}


.view-leave, .view-enter {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s;
  -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s;
}
 
.view-animate-container {
  position:absolute;
  width: 100%;
  min-height: 750px;
  background-color: #edf1f2;
}
 
.view-animate-container > * {
  display:block;
  background-color: #edf1f2;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
 
.view-enter {
  left:100%;
}
.view-enter.view-enter-active {
  left:0;
}
 
.view-leave { }
.view-leave.view-leave-active {
  left:-100%;
}

.recentSearch {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  background: lightcoral;
  padding: 0 12px;
  border-radius: 14px;
}

.recentSearch .icon {
  height: 25px;
  width: 25px;
  display: inline-block;
}

.floatRight {
  float: right;
}

.cursorPointer {
  cursor: pointer;
}

.recentSearchInclude {
  position: absolute;
  right: 0;
  width: 550px;
  height: 0;
  background: rgba(0,0,0,.5);
  transition: height .3s;
  -webkit-transition: height .3s;
  z-index: 10000;
  overflow: hidden;
}

.recentSearchList {
  padding: 0 5px;
  list-style: none;
}

.recentSearchList li{
  border-bottom: 1px groove #fff;
  font-size: 18px;
  padding: 0 7px;
  color: #fff;
  cursor: pointer;
}

.recentSearchList li .searchItem {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.recentSearchList li:hover{
  background: rgba(0,0,0,.6);
  color: #ff0 !important;
}

.expandVertical {
  height: 100%;
}

.compare li {
  position: relative;
  float: left;
  width: 100%;
  height: 30px;
  list-style: none;
}

.compare div{
  font-family: "Helvetica Neue" !important;
}

.mainCell{
  position: relative;
  float: left;
  width: 100%;
  border-radius: 5px;
  height: 25px;
  color: #fff;
  line-height: 25px;
}

.head-val{
  position: relative;
  float: left;
  width: 37.5%;
  padding-left: 10px;
}

.labelIndex{
  position: relative;
  float: left;
  width: 18%;
  padding-right: 10px;
  text-align: right;
}

.green{
  background: #9fe3bc
}

.yellow{
  background-color: #CCCC00;
  background-image: -moz-linear-gradient(top, #CCCC00, #CCCC70);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCCC00), to(#CCCC70));
  background-image: -webkit-linear-gradient(top, #CCCC00, #CCCC70);
  background-image: -o-linear-gradient(top, #CCCC00, #CCCC70);
  background-image: linear-gradient(to bottom, #CCCC00, #CCCC70);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccc0062', endColorstr='#cccc0057', GradientType=0);
}

.red{
  background: #F2CECE;
}
.redFont{
  color: red;
}
.storeDetails{
  display: none;
}
.compare{
  margin-top: 20px;
}

.smallFont {
  font-size: 15px;
}

.position{
  width: 100px;
}

.error{
  color:red;
}

.left{
  float: left;
}
.clear{
  clear: both;
}

.category, .sub-category, .demography, .item, .price, .number-of-rows, .recommender-btn{
  min-width: 150px;
}
.category select, .sub-category select, .demography select, .item select{
  width: 120px;
}

.recommendation{
  text-align: center;
  width: 100px;
  height: 34px;
  color: blue;
  font-size: 15px;
  padding: 5px;
  background: aquamarine;
  border-radius: 5px;
}

.modal_store{
  height: 40px;
  background-color: #614b4e;
  border-radius: 5px;
  padding: 0px;
}
.modal_store h3{
  padding: 7px;
  margin: 0px;
  color: white;
  font-size: 18px;
}
.modal_okbtn{
  background-color: #614b4e;
}
.storeDetails tr td:nth-child(1){
  cursor: pointer;
  text-decoration: underline;
}
.bold{
  font-weight: bold;
}
.nodata{
  color: red;
}
.top_ten{
  margin-bottom: 20px;
}

/* Begin hand crafted tooltip-custom taken from d3-tip */
div.tooltip-custom {
    position: absolute;
    text-align: center;
    line-height: 1.25;
    padding: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font-size: 16px;
}
div.tooltip-custom:after {
  box-sizing: border-box;
  display: inline;
  font-size: 16px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0%;
}
/* End hand crafted tooltip-custom */

.rotate60 {

/* Safari */
-webkit-transform: rotate(-60deg);

/* Firefox */
-moz-transform: rotate(-60deg);

/* IE */
-ms-transform: rotate(-60deg);

/* Opera */
-o-transform: rotate(-60deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.search_bar{
  border-bottom:4px solid #321e1f;
  background-color:#614b4e;
  height: 50px;
  color: white; 
}
.search_bar select{
  margin-left: 2%;
}
.search_type{
  margin-left: 26%;
  font-size: 15px;
  padding-top: 5px;
}
.search_form{
  //background-color: #e0d4d6;
  height: auto;
  margin-top: 2%;
}
.search_btn{
  color: black;
  background-color: #ffc740;
}
.storeDetails thead{
  background-color: #e0d4d6;
}
/* Spinner */
@keyframes spin {
 0% {
    border-radius: 0px;
 }
 100% {
    border-radius: 50%;
    -webkit-transform: rotate(1000deg);
    -moz-transform: rotate(1000deg);
    -o-transform: rotate(1000deg);
    -ms-transform: rotate(1000deg);
    transform: rotate(1000deg);
 }
}

@-moz-keyframes spin {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -moz-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

@-webkit-keyframes spin {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -webkit-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

@-ms-keyframes spin {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -ms-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

@-o-keyframes spin {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -o-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

/* Default Spicon class */

.spin {
  -webkit-animation: spin 6s infinite normal linear;
  -moz-animation: spin 6s infinite normal linear;
  -ms-animation: spin 6s infinite normal linear;
  -o-animation: spin 6s infinite normal linear;
  animation: spin 6s infinite normal linear;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -128px;
  z-index: 1000;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}

.marginBottom {
  margin-bottom: 30px;
}

.fontTiny {
  font-size: 11px;
  background: lightskyblue;
}

.feature {
  background: rgba(100, 50, 200, .6);
}

.statsHead{
  position: relative;
  float: left;
  width: 100%;
}

.platform-head{
  position: relative;
  float: left;
  width: 40%;
  height: 30px;
  font-size: 12px;
  margin-top: 5px;
}

.platform{
  position: relative;
  float: left;
  width: 30%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-right: 2px solid #ffffff;
}

.dataval{
  position: relative;
  float: left;
  width: 50%;
  padding: 0 10px;
  text-align: right;
}
.styleUl li{
  list-style: none;
  height: 30px;
  margin-top: 1px;
}

.align-center{
  text-align: center;
  background: #8f999a;
  color: #ffffff;
}

.smallfont{
  font-size: 10px;
}

/* market analysis left navigation - begin*/
.left-nav{
  top: 50px;
  left: 0;
  position: absolute;
  width: 125px;
  margin: auto;
  padding-top: 55px;
  border-bottom: 0px;
  z-index: 100;
  min-height: 768px;
  background: #222;
}

.nav-tabs {
  margin-bottom: none !important;
}

.left-nav li{
  height: 110px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.left-nav li:hover {
  background: rgba(100, 50, 200, .6);
}

.left-nav li a{
  border-radius: 0px;
  border: none;
  height: 110px;
  padding: 0px;
  font-size: 17px;
  width: 100%;
  color: white;
  padding: 65px 5px 5px 0;
  text-align: center;
  font-size: 14px;
}

.left-nav li a.selectedCompare, .left-nav li a.notselectedCompare:hover{
  background: rgba(100, 50, 200, .8) url('../images/icon_compare.png') no-repeat;
  background-position: -45px 0;
}
.left-nav li a.notselectedCompare, .left-nav li a.notselectedCompare:hover{
  background: url('../images/icon_compare_ntSelected.png') no-repeat;
  background-position: -45px 0;
}
.left-nav li a.selectedRecommender, .left-nav li a.selectedRecommender:hover{
  background: rgba(100, 50, 200, .8) url('../images/icon_Recommender.png') no-repeat;
  background-position: -55px 0;
}
.left-nav li a.notselectedRecommender, .left-nav li a.notselectedRecommender:hover{
  background: url('../images/icon_Recommender_ntSelected.png') no-repeat;
  background-position: -55px 0;
}
.left-nav li a.selectedTopTen, .left-nav li a.selectedTopTen:hover{
  background: rgba(100, 50, 200, .8) url('../images/icon_topten.png') no-repeat;
  background-position: -50px 0;
}
.left-nav li a.notselectedTopTen, .left-nav li a.notselectedTopTen:hover{
  background: url('../images/icon_topten_ntSelected.png') no-repeat;
  background-position: -50px 0;
}


/* market analysis left navigation - end */

.market-analysis-section{
  padding-left: 150px;
  margin-top: 20px;
}

.market-cont{
  margin-top: 20px;
}

.rows-selection{
  padding-top: 10px;
}

.chart{
  position: relative;
  float: right;
  top: 20px;
}
.recommender-head{
  position: relative;
  float: left;
  width: 23%;
  height: 30px;
  font-size: 14px;
  padding: 5px 0 0 5px;
  text-align: left;
}

.recommender-row{
  position: relative;
  float: left;
  width: 23%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 5px 0 0 5px;
  border-bottom: 1px;
}

.recommender-btn, .recommender-btn:hover{
  margin-left: 10px;
  background-color: #45C0B6;
  color: #ffffff;
}

/* doughnut styles */
text.textTop{
  color: #45C0B6;
  font-size: 45px;
}

text.textBottom{
  color: #45C0B6;
  font-size: 30px;
}

.doughnut-container{
  margin: 0 0 0 25%;
}

.change-button{
  position: relative;
  float: left;
  width: 30px;
  top: 40px;
  left: -30px;
}

.change-button button{
  position: relative;
  margin-bottom: 10px;
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 5px !important;
}

.insight-text{
  text-align: center;
  font-size: 20px;
  color: #e98e4e;
  font-weight: bold;
}

.help-text{
  font-size: 14px;
  color: blue;
  text-align: center;
}

/* google map autocomplete */
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
        z-index: 10000000 !important;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

/* google map autocomplete */

.searchB a{
  color: #ffffff !important
}

.align-view{
  margin: 20px 0 10px 0;
}

.locationB{
  margin-bottom: 10px;
}

.margin-button{
  margin-top: 10px;
}

.space{
  padding: 10px 0;
  border-bottom: 1px dotted;
}

.resultHolder h4{
  margin-top: 20px;
}

.more{
  min-height: 70px;
}

.css-form{
  position: relative;
  float: left;
}

.sorted {
  background: rgba(100, 50, 200, .7);
}

.main-view{
  top: 50px;
}