<div class="market-analysis-section">
	<!-- Inputs -->
	<h2>Find out Ad Spend</h2>
  <div>
    <input type="text" ng-model="input.searchCriteria" class="inputDesc left">
		<div class='left'>
      <b class='left' style="height: 50px;padding: 10px 0;">Category/Brand:</b>
      <div class='left' style="height: 50px;padding: 10px 0;">
        <select ng-model="input.choice" ng-required
        ng-options="choice for choice in input.choices" class="left">
      </select>
      </div>
      <div class='left' style="height: 50px;padding: 5px 2px;">
        <button ng-click="search()" class="btn left brn-small">Search</button>
      </div>
    </div>
	</div>
  <div class="clear"></div>
  <h6><em>(categories e.g. toothbrush, toothpaste OR brands e.g. aveeno)</em></h6>
  <div class='clear'></div>
  <div class="left">
    <b>Sort By :</b>
    <select class="feature" ng-model="sortBy" ng-options="field for field in sortByFields">
    </select>
  </div>
	<div class="clear"></div>
	<!-- Result -->
  <div class="resultHolder left">
    <h3>{{output.message}}</h3>
    <div ng-repeat="category in categories">
      <div ng-show="$first">
        <span class="column vborder">Category</span>
        <span class="column vborder">SubCategory</span>
        <span class="column vborder">Brand</span>
        <span class="column vborder">NetworkTV</span>
        <span class="column vborder">SpotTV</span>
        <span class="column vborder">CableTV</span>
        <span class="column vborder">SyndicatedTV</span>
        <span class="column vborder">NationalMagazine</span>
        <span class="column vborder">NationalInternet</span>
      </div>
      <div>
        <span class="column cell fontTiny"><b>{{category.CategoryName}}</b></span>
        <span class="column cell {{category.SubCategoryNameClass}}">
          {{category.SubCategoryName}}
        </span>
        <span class="column cell {{category.BrandClass}}">
          {{category.Brand}}
        </span>
        <span class="column cell {{category.NetworkTVAdSpendClass}}">
          {{category.NetworkTVAdSpend}}
        </span>
        <span class="column cell {{category.SpotTVAdSpendClass}}">
          {{category.SpotTVAdSpend}}
        </span>
        <span class="column cell {{category.CableTVAdSpendClass}}">
          {{category.CableTVAdSpend}}
        </span>
        <span class="column cell {{category.SyndicatedTVAdSpendClass}}">
          {{category.SyndicatedTVAdSpend}}
        </span>
        <span class="column cell {{category.NationalMagazineAdSpendClass}}">
          {{category.NationalMagazineAdSpend}}
        </span>
        <span class="column cell {{category.NationalInternetAdSpendClass}}">
          {{category.NationalInternetAdSpend}}
        </span>
      </div>
    </div>
  </div>
	<div class="left">
    <doughnut chart-id="CategoryNetworkTVAdSpendDoughnut" val="dataCategoryNetworkTVAdSpend" totalLabel="Network TV Ad Spend"></doughnut>
  </div>
	<div class="clear"></div>
</div>