<div class="market-analysis-section">
<h4>Compare Apps in IOS and Android Platform and think to buy a better one</h4>
<select ng-model="input.appname" placeholder="Select Platform"
 		ng-options="appname for appname in appnames">
</select>
<div class='market-cont row col-md-12'>
	<accordion close-others="true">
	  <accordion-group  heading="Statistics Data" is-open="true">
	    <div class='col-md-12'>
	    	<div class='col-md-6' style="padding-top:60px;">
			    <ul class='styleUl'>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'></div>
				    		<div class='platform align-center'>Android</div>
				    		<div class='platform align-center'>IOS</div>
			    		</div>
			    	</li>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'>Unique Audience</div>
				    		<div class='platform' ng-class="(maindata.android.UniqueAudience-maindata.ios.UniqueAudience)/maindata.android.UniqueAudience*100 > 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.android.UniqueAudience | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.android.UniqueAudience-maindata.ios.UniqueAudience)/maindata.android.UniqueAudience*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(maindata.android.UniqueAudience-maindata.ios.UniqueAudience)/maindata.android.UniqueAudience*100 < 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.UniqueAudience | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.UniqueAudience-maindata.android.UniqueAudience)/maindata.android.UniqueAudience*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'>Active Reach</div>
				    		<div class='platform' ng-class="(maindata.android.ActiveReach-maindata.ios.ActiveReach)/maindata.android.ActiveReach*100 > 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.android.ActiveReach | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.android.ActiveReach-maindata.ios.ActiveReach)/maindata.android.ActiveReach*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(maindata.android.ActiveReach-maindata.ios.ActiveReach)/maindata.android.ActiveReach*100 < 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.ActiveReach | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.ActiveReach-maindata.android.ActiveReach)/maindata.android.ActiveReach*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'>Total Duration Mins</div>
				    		<div class='platform' ng-class="(maindata.android.TotalDurationMin-maindata.ios.TotalDurationMin)/maindata.android.TotalDurationMin*100 > 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.android.TotalDurationMin | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.android.TotalDurationMin-maindata.ios.TotalDurationMin)/maindata.android.TotalDurationMin*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(maindata.android.TotalDurationMin-maindata.ios.TotalDurationMin)/maindata.android.TotalDurationMin*100 < 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.TotalDurationMin | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.TotalDurationMin-maindata.android.TotalDurationMin)/maindata.android.TotalDurationMin*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'>Total Visits</div>
				    		<div class='platform' ng-class="(maindata.android.TotalVisits-maindata.ios.TotalVisits)/maindata.android.TotalVisits*100 > 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.android.TotalVisits | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.android.TotalVisits-maindata.ios.TotalVisits)/maindata.android.TotalVisits*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(maindata.android.TotalVisits-maindata.ios.TotalVisits)/maindata.android.TotalVisits*100 < 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.TotalVisits | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.TotalVisits-maindata.android.TotalVisits)/maindata.android.TotalVisits*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'>Visits Per Person</div>
				    		<div class='platform' ng-class="(maindata.android.VisitsPerPerson-maindata.ios.VisitsPerPerson)/maindata.android.VisitsPerPerson*100 > 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.android.VisitsPerPerson | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.android.VisitsPerPerson-maindata.ios.VisitsPerPerson)/maindata.android.VisitsPerPerson*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(maindata.android.VisitsPerPerson-maindata.ios.VisitsPerPerson)/maindata.android.VisitsPerPerson*100 < 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.VisitsPerPerson | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.VisitsPerPerson-maindata.android.VisitsPerPerson)/maindata.android.VisitsPerPerson*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'>Male Percentage</div>
				    		<div class='platform' ng-class="(maindata.android.MalePercentage-maindata.ios.MalePercentage)/maindata.android.MalePercentage*100 > 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.android.MalePercentage | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.android.MalePercentage-maindata.ios.MalePercentage)/maindata.android.MalePercentage*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(maindata.android.MalePercentage-maindata.ios.MalePercentage)/maindata.android.MalePercentage*100 < 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.MalePercentage | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.MalePercentage-maindata.android.MalePercentage)/maindata.android.MalePercentage*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'>Female Percentage</div>
				    		<div class='platform' ng-class="(maindata.android.FemalePercentage-maindata.ios.FemalePercentage)/maindata.android.FemalePercentage*100 > 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.android.FemalePercentage | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.android.FemalePercentage-maindata.ios.FemalePercentage)/maindata.android.FemalePercentage*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(maindata.android.FemalePercentage-maindata.ios.FemalePercentage)/maindata.android.FemalePercentage*100 < 0 ? 'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.FemalePercentage | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.FemalePercentage-maindata.android.FemalePercentage)/maindata.android.FemalePercentage*100 | roundoff}}</div>
			    		</div>
			    	</li>
			    </ul>
		  	</div>
		  	<div class='col-md-1' style="padding-top:60px;">
		  		<div class="change-button selectcompare">
			        <div class="right-arrow" ng-model="radioModel" btn-radio="'UniqueAudience'" ng-click='changeChart("UniqueAudience")'></div>
			        <div class="right-arrow" ng-model="radioModel" btn-radio="'ActiveReach'" ng-click='changeChart("ActiveReach")'></div>
			        <div class="right-arrow" ng-model="radioModel" btn-radio="'TotalDurationMin'" ng-click='changeChart("TotalDurationMin")'></div>
			        <div class="right-arrow" ng-model="radioModel" btn-radio="'TotalVisits'" ng-click='changeChart("TotalVisits")'></div>
			        <div class="right-arrow" ng-model="radioModel" btn-radio="'VisitsPerPerson'" ng-click='changeChart("VisitsPerPerson")'></div>
			        <div class="right-arrow" ng-model="radioModel" btn-radio="'MalePercentage'" ng-click='changeChart("MalePercentage")'></div>
			        <div class="right-arrow" ng-model="radioModel" btn-radio="'FemalePercentage'" ng-click='changeChart("FemalePercentage")'></div>
			    </div>
			  </div>
			  <div class='col-md-5'>
		  		<summarychart chart-id="chosenStat"></summarychart>
		  	</div>
		  </div>  
	  </accordion-group>
	  <accordion-group  heading="Age groups">
	    <div class='col-md-12'>
		    <div class='col-md-6'>
			    <ul class='styleUl'>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'></div>
				    		<div class='platform align-center'>Android</div>
				    		<div class='platform align-center'>IOS</div>
			    		</div>
			    	</li>
			    	<li ng-repeat='(k, v) in maindata.android.AgeBreakPercentage  track by $index'>
			    		<div class='col-md-12'>
				    		<div class='platform-head'><stringfilter dataval='{{k}}' filter='Age'></div>
				    		<div class='platform' ng-class="(v-maindata.ios.AgeBreakPercentage[k])/v*100 > 0 ?  'green' : 'red'">
				    			<div class='dataval'>{{v}}</div>
				    			<div class='dataval'>{{-(maindata.ios.AgeBreakPercentage[k]-v)/v*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(v-maindata.ios.AgeBreakPercentage[k])/v*100 < 0 ?  'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.AgeBreakPercentage[k] | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.AgeBreakPercentage[k]-v)/v*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    </ul>
		    </div>
		    <div class='chart col-md-6'>
		    	<highcharts chart-id='chart_data' height="220" width="400"></highcharts>
		  	</div>
		  </div>	
	  </accordion-group>
	  <accordion-group  heading="Income Range">
	    <div class='col-md-12'>
		    <div class='col-md-6'>
			    <ul class='styleUl'>
						<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'></div>
				    		<div class='platform align-center'>Android</div>
				    		<div class='platform align-center'>IOS</div>
			    		</div>
			    	</li>
			    	<li ng-repeat='(k, v) in maindata.android.IncomePercentage_in_Dollar  track by $index'>
			    		<div class='col-md-12'>
				    		<div class='platform-head'><stringfilter dataval='{{k}}' filter='Income'></div>
				    		<div class='platform' ng-class="(v-maindata.ios.IncomePercentage_in_Dollar[k])/v*100 > 0 ?  'green' : 'red'">
				    			<div class='dataval'>{{v}}</div>
				    			<div class='dataval'>{{-(maindata.ios.IncomePercentage_in_Dollar[k]-v)/v*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(v-maindata.ios.IncomePercentage_in_Dollar[k])/v*100 < 0 ?  'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.IncomePercentage_in_Dollar[k] | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.IncomePercentage_in_Dollar[k]-v)/v*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    </ul>
			  </div>  
		  	<div class='chart col-md-6'>
		    	<highcharts chart-id='income_data' height="430" width="400"></highcharts>
		  	</div>
		  </div>
	  </accordion-group>
	  <accordion-group  heading='Race Percentage'>
	    <div class='col-md-12'>
		    <div class='col-md-6'>
			    <ul class='styleUl'>
			    	<li>
			    		<div class='col-md-12'>
				    		<div class='platform-head'></div>
				    		<div class='platform align-center'>Android</div>
				    		<div class='platform align-center'>IOS</div>
			    		</div>
			    	</li>
			    	<li ng-repeat='(k, v) in maindata.android.RacePercentage  track by $index'>
			    		<div class='col-md-12'>
				    		<div class='platform-head'><stringfilter dataval='{{k}}' filtertype='onlystring'></div>
				    		<div class='platform' ng-class="(v-maindata.ios.RacePercentage[k])/v*100 > 0 ?  'green' : 'red'">
				    			<div class='dataval'>{{v}}</div>
				    			<div class='dataval'>{{-(maindata.ios.RacePercentage[k]-v)/v*100 | roundoff}}</div>
				    		</div>
				    		<div class='platform' ng-class="(v-maindata.ios.RacePercentage[k])/v*100 < 0 ?  'green' : 'red'">
				    			<div class='dataval'>{{maindata.ios.RacePercentage[k] | unitCon}}</div>
				    			<div class='dataval'>{{(maindata.ios.RacePercentage[k]-v)/v*100 | roundoff}}</div>
				    		</div>
			    	</div>
			    	</li>
			    </ul>
		  	</div>
		  	<div class='chart col-md-6'>
		    	<highcharts chart-id='race_data' height="330" width="400"></highcharts>
		  	</div>
		  </div>
	  </accordion-group>
	</accordion>
</div>
</div>