<div>
<div class="retailer-info">
	<li ng-repeat='retailer in retailers'>
		<div class="head">
			<img ng-src="{{retailer.icon.icon}}"/>
			<div class="head-data">
		  	{{retailer.RetailerName}}, {{retailer.Locations.Line1}}, {{retailer.Locations.City}}, {{retailer.Locations.State}}, {{retailer.Locations.Country}}
			</div>
		</div>
	</li>
</div>
<div class="map-container">
	<google-map center="map.center" draggable="true" zoom="map.zoom">
		<marker coords='location' options='location.icon' ng-repeat="location in locations"></marker>
	</google-map>
</div>
</div>