<div class="market-analysis-section col-md-12">
<div ng-show='haveOutlets'>
	<div class="retailer-info">
		<li ng-repeat='retailer in retailers'>
			<div class="head" ng-class="{headHover:hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
				<img ng-src="{{retailer.icon.icon}}"/>
				<div class="head-data">
			  	{{retailer.RetailerName}}, {{retailer.Locations.Line1}}, {{retailer.Locations.City}}, {{retailer.Locations.State}}, {{retailer.Locations.Country}}
				</div>
			</div>
		</li>
	</div>
	<div class="map-container">
		<google-map center="map.center" draggable="true" zoom="map.zoom">
			<marker coords='location' options='location.icon' ng-repeat="location in locations"></marker>
		</google-map>
	</div>
</div>
<div ng-hide='haveOutlets'>
	<h2>Sorry No data found for the search that you have requested</h2>
</div>
</div>