<div  class="market-analysis-section col-md-12">
<h2>Market Share by Manufacturer</h2><br>
  <div class="resultHolder col-md-6">
    <div class="period" ng-repeat="period in periods">
      Period: <b><span>{{period.Period}}</span></b><br>
      <div class="market" ng-repeat="market in period.Market">
        Market: <span>{{market.MarketName}}</span><br>
        <div class="category" ng-repeat="category in market.Category">
          Category: <span>{{category.CategoryName}}</span><br><br>
          <div class="manufacturer" ng-repeat="manufacturer in category.Manufacturer">
            <b>Manufacturer:</b> <span>{{manufacturer.ManufacturerName}}</span><br>
            <b>Total Sales Dollar:</b> <span>{{manufacturer.TotalSalesDollar}}</span><br>
            <b>Total Units Sold:</b> <span>{{manufacturer.TotalUnitsSold}}</span><br>
            <b>Dollar Share Percentage:</b> <span>{{manufacturer.DollarSharePercentage}}</span><br><br>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="col-md-6">
    <select ng-model="input.category" placeholder="Select Category"
    ng-options="category for category in categories"></select>
    <div class='margin-button'>
      <summarychart chart-id="chosenStat"></summarychart>
    </div>
  </div>
</div>