<div>
	<h2>Mobile Audience</h2>
	<!-- Inputs -->
	<b>Platform * :</b>
	<select ng-model="input.platform" ng-required
 		ng-options="platform for platform in input.platforms">
  </select>
  <b># of Top Apps * :</b> <input type="number" ng-model="input.noofresults" ng-required />
  <button class="btn btn-primary" ng-click="search()">Search</button>
  <b>Sort By :</b>
	<select class="feature" ng-model="sortBy"
 		ng-options="field for field in sortByFields">
  </select>
  <br><br><br><br>
	<!-- Result -->
	<div ng-repeat="app in AppDetails">
		<div class="marginBottom" ng-show="$first">
			<span class="column vborder rotate60">App<br>Name</span>
			<span class="column column70 vborder rotate60">Unique<br>Audience</span>
			<span class="column column70 vborder rotate60">Active<br>Reach</span>
			<span class="column column70 vborder rotate60">Total<br>Duration</span>
			<span class="column column70 vborder rotate60">Total<br>Visits</span>
			<span class="column column70 vborder rotate60">Visits/<br>Person</span>
			<span class="column column70 vborder rotate60">Time/<br>Person</span>
			<span class="column vborder rotate60">Male<br>Female %</span>
			<span class="column vborder rotate60">Age<br>Groups%</span>
			<span class="column vborder rotate60">Income<br>Groups%</span>
			<span class="column vborder rotate60">Race %</span>
		</div>
		<div>
		<span class="column cell fontTiny"><b>{{app.AppName}}</b></span>
		<span class="column column70 cell">{{app.UniqueAudience | unitCon}}</span>
		<span class="column column70 cell">{{app.ActiveReach}}</span>
		<span class="column column70 cell">{{app.TotalDurationMin | unitCon}}</span>
		<span class="column column70 cell">{{app.TotalVisits | unitCon}}</span>
		<span class="column column70 cell">{{app.VisitsPerPerson}}</span>
		<span class="column column70 cell">{{app.TimePerPersonMin}}</span>
		<span class="column cell">{{app.MalePercentage}} | {{app.FemalePercentage}}</span>
		<span class="column cell">
			<span ng-repeat="(k, v) in app.AgeBreakPercentage track by $index">
				{{v}} |
			</span>
		</span>
		<span class="column cell">
			<span ng-repeat="(k, v) in app.IncomePercentage_in_Dollar track by $index">
				{{v}}
			</span>
		</span>
		<span class="column cell">
			<span ng-repeat="(k, v) in app.RacePercentage track by $index">
				{{v}}
			</span>
		</span>
		</div>
	</div>
</div>