<div>
	<h2>Mobile Audience</h2>
	<!-- Inputs -->
	<b>Platform * :</b>
	<select ng-model="input.platform" ng-required
 		ng-options="platform for platform in input.platforms">
  </select>
  <b># of Top Apps * :</b> <input type="number" ng-model="input.noofresults" ng-required />
  <button class="btn btn-primary" ng-click="search()">Search</button>
  <b>Sort By :</b>
	<select ng-model="sortBy"
 		ng-options="field for field in sortByFields">
  </select>
	<!-- Result -->
	<div class="product" ng-repeat="app in AppDetails">
		<h3><b>App Name: </b>{{app.AppName}}</h3>
		<span class="label">UniqueAudience: </span>{{app.UniqueAudience}}<br>
		<span class="label">ActiveReach: </span>{{app.ActiveReach}}<br>
		<span class="label">TotalDurationMin: </span>{{app.TotalDurationMin}}<br>
		<span class="label">TotalVisits: </span>{{app.TotalVisits}}<br>
		<span class="label">VisitsPerPerson: </span>{{app.VisitsPerPerson}}<br>
		<span class="label">TimePerPersonMin: </span>{{app.TimePerPersonMin}}<br>
		<span class="label">MalePercentage: </span>{{app.MalePercentage}}<br>
		<span class="label">FemalePercentage: </span>{{app.FemalePercentage}}<br>
		<div ng-repeat="(k, v) in app.AgeBreakPercentage track by $index">
			<span class="label">{{k}}: </span>{{v}}<br>
		</div>
		<div ng-repeat="(k, v) in app.IncomePercentage_in_Dollar track by $index">
			<span class="label">{{k}}: </span>{{v}}<br>
		</div>
		<div ng-repeat="(k, v) in app.RacePercentage track by $index">
			<span class="label">{{k}}: </span>{{v}}<br>
		</div>
	</div>
</div>