<div class="">
	<div class="row">
		<div class="search_bar">
			<div class="search_type">
				<form name="form" class="css-form" novalidate>
					<b>Find your product by:*</b> 
					<input required type="text" ng-model="input.search" size="50" placeholder="Description / UPC Code">
					<button ng-disabled="form.$invalid" type='button' class='search_btn btn' ng-click='checkSearch()' ng-disabled="!input.search"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
				</form>	
			</div>
		</div>
		<div class="col-md-2">
			
		</div>
		<div class="col-md-10">
			<span class='nodata' ng-show='noDataText'>Sorry! No data found</span>
			<div class="productSearch">
				<div ng-show="prod_type=='description'">
					<div class="col-md-12 space" ng-repeat="product in products">
						<div class='col-md-9'>
							<span class="productDesc">{{product.Description}}</span><br>
							<b>Category:</b><span class="redFont"> {{product.Module}}</span> | <b>Rank:</b> {{product.Rank}}<br>
						</div>
						<div class='col-md-3'>
							<button type='button' class='btn btn-success' ng-click='setData(product)'>Check Availablility</button>
						</div>
					</div>
				</div>
				<div ng-repeat='data in product_detail' ng-show="prod_type=='code'">
					<div class="col-md-12 space">
						<div class='col-md-9'>
							<span class="productDesc">{{data.Description}}</span><br>
							<b>Module:</b><span class="redFont"> {{data.Module}}</span> | <b>UPC:</b> {{data.UPC}} | <b>Item Code:</b> {{data.Item_Code}}
						</div>
						<div class='col-md-3'>
							<button type='button' class='btn btn-success' ng-click='open()'>Check Availablility</button>
						</div>
					</div>
				</div>
				<div ng-show='pageshow'>
					<pagination total-items="totalItems" page="input.pageno" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
				</div>
			</div>	
			<div class="col-md-12 space" >
				<h4 ng-show="prod_type=='code'">More Details</h4>	
				<div class='margin-button' ng-repeat='(k, v) in product_detail_characterstics[0] track by $index'>
					<div class='col-md-3 more'>
						<b><stringfilter dataval='{{k}}' filtertype='onlystring'></stringfilter></b>{{v}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>