<div class="container">
	<div class="row">
		<div class="search_bar">
			<div class="search_type">
				<b>Find your product by:</b> 
				<input type="text" ng-model="input.search" size="50" placeholder="Description / UPC Code">
				<button type='button' class='search_btn btn' ng-click='checkSearch()' ng-disabled="!input.search"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
			</div>
		</div>
		<div class="col-md-3">
			Left Nav
		</div>
		<div class="col-md-9">
			<span class='nodata' ng-show='noData'>Sorry! No data found</span>
			<div class="productSearch">
				
				<div class="resultHolder" ng-show="prod_type=='description'">
					<div class="product" ng-repeat="product in products">
						<span class="productDesc">{{product.Description}}</span><br>
						<b>Category:</b><span class="redFont"> {{product.Module}}</span> | <b>Rank:</b> {{product.Rank}}<br>
						<div class='check btn' ng-click='setData(product)'>Check Availablility</div>
					</div>
				</div>
				<div class="resultHolder" ng-repeat='data in product_detail' ng-show="prod_type=='code'">
					<div class="product">
						<b><span class="productDesc">{{data.Description}}</span></b><br>
						<b>UPC:</b> {{data.UPC}}<br>
						<b>Item Code:</b> {{data.Item_Code}}<br>
						<b>Module:</b> {{data.Module}}<br>
						<div class='check btn' ng-click='open()'>Check Availablility</div><br>
					</div>
				</div>
				<div ng-show='pageshow'>
					<pagination total-items="totalItems" page="input.pageno" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
				</div>
			</div>	


			<h4 ng-hide='noData'>Products Health Lookup using UPC code:</h4>
			<div class="resultHolder" >
				<div class="product" >
					<div ng-repeat='(k, v) in product_detail_characterstics[0] track by $index'>
						<b><stringfilter dataval='{{k}}' filtertype='onlystring'></stringfilter></b>{{v}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>