<div class="market-analysis-section">
  <!-- Inputs -->
  <h2>National TV Program Ratings</h2>
  <b># of TV Programs* :</b>
  <input type="number" ng-model="input.numberofresults" ng-required />
  <b>Demography*:</b>
  <select ng-model="input.demography" ng-options="demography for demography in demographies">
  </select>
  <!-- <input type="text" ng-model="input.demography" /> -->
  <button class="search_btn btn" ng-click="search()" ng-disabled="!input.numberofresults || !input.demography"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
  <b>Sort By :</b>
  <select class="feature" ng-model="sortBy" ng-options="field for field in sortByFields">
  </select>
  <h3 class="redFont">{{output.message}}</h3>
  <div class="clear"></div>
  <!-- Result -->
    <!-- Result -->
  <div class="resultHolder left">
    <div ng-repeat="program in programs">
      <div ng-show="$first">
        <span class="column90 vborder" ng-class="{sorted: sortBy == 'ProgramName'}">
          Program Name
        </span>
        <span class="column90 vborder" ng-class="{sorted: sortBy == 'US_AA_PERC'}">
          US AA%
        </span>
        <span class="column90 vborder" ng-class="{sorted: sortBy == 'USProjection'}">
          Projected Audience
        </span>
        <span class="column90 vborder" ng-class="{sorted: sortBy == 'Originator'}">
          Originator
        </span>
        <span class="column90 vborder" ng-class="{sorted: sortBy == 'TotalDuration'}">
          Total Duration in Minutes
        </span>
        <span class="column90 vborder" ng-class="{sorted: sortBy == 'Demographic'}">
          Demography
        </span>
      </div>
      <div>
        <span class="column90 cell fontTiny"><b>{{program.ProgramName}}</b></span>
        <span class="column90 cell {{program.US_AA_PERCClass}}">
          {{program.US_AA_PERC}}
        </span>
        <span class="column90 cell {{program.USProjectionClass}}">
          {{program.USProjection}}
        </span>
        <span class="column90 cell {{program.OriginatorClass}}">
          {{program.Originator}}
        </span>
        <span class="column90 cell {{program.TotalDurationClass}}">
          {{program.TotalDuration}}
        </span>
        <span class="column90 cell {{program.DemographicClass}}">
          {{program.Demographic}}
        </span>
      </div>
    </div>
  </div>
  <div class="left">
    <div>
      <br>
      <br>
      <div ng-hide="true" ng-show="totalUSProjection != 0 && totalUSProjection != undefined" class = "insight-text">
        Total Projected Audience: {{totalUSProjection}}!
      </div>
      <div class="help-text" ng-hide="true" ng-show="totalUSProjection != 0 && totalUSProjection != undefined">
        (You can spend more on TV Program Ads with comparatively larger audience)<br>
      </div>
      <div style="text-align:center;" ng-hide="true" ng-show="totalUSProjection != 0 && totalUSProjection != undefined">
        (Default ordering is based on US AA ratings)
      </div>
      <br>
    </div>
    <div>
      <doughnut chart-id="programRankingDoughnut" val="data" totalLabel="Projected Audience"></doughnut>
    </div>
  </div>
  
</div>