<div class="market-analysis-section">
	<h3>Region Segmentation</h3>
	<!-- Inputs -->
	<b>Segment * : </b>
	<select ng-model="input.segment" ng-required
 		ng-options="segment for segment in input.segments">
  </select>
  <b>Level: </b>
	<select ng-model="input.segmentLevel"
 		ng-options="level for level in input.segmentLevels">
  </select>
	<b>Address* : </b>
	<input type="text" ng-model="input.addressline">
	<b>City* : </b>
	<input type="text" ng-model="input.city"><br><br>
	<b>State : <b>
		<input type="text" ng-model="input.state">
	<b>Zip Code* : </b>
	<input type="text" ng-model="input.zip">
	<button class="search_btn btn" ng-click = "search(input)" ng-disabled="!input.segment || !input.addressline || !input.city || !input.zip"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
	<b>Sort By :</b>
  <select class="feature" ng-model="sortBy"
    ng-options="field for field in sortByFields">
  </select>
	
	<!-- Result -->
  <div class="resultHolder">
  	<h3 class="redFont">{{output.message}}</h3>
  	<div ng-repeat="segment in segments">
      <div ng-show="$first">
        <span class="column vborder">Segment Name</span>
        <span class="column vborder">Urbanicity</span>
        <span class="column vborder">Income</span>
        <span class="column vborder">Income Producers</span>
        <span class="column vborder">Age Ranges</span>
        <span class="column vborder">Kids Presence</span>
        <span class="column vborder">Homeownership</span>
        <span class="column vborder">Employment Levels</span>
        <span class="column vborder">Education Levels</span>
        <span class="column vborder">Ethnic Diversity</span>
      </div>
      <div>
        <span class="column cell fontTiny"><b>{{segment.SegmentName}}</b></span>
        <span class="column cell {{segment.UrbanicityClass}}">
          {{segment.Urbanicity}}
        </span>
        <span class="column cell {{segment.IncomeClass}}">
          {{segment.Income}}
        </span>
        <span class="column cell {{segment.IncomeProducingAssetsClass}}">
          {{segment.IncomeProducingAssets}}
        </span>
        <span class="column cell {{segment.AgeRangesClass}}">
          {{segment.AgeRanges}}
        </span>
        <span class="column cell {{segment.PresenceofKidsClass}}">
          {{segment.PresenceofKids}}
        </span>
        <span class="column cell {{segment.HomeownershipClass}}">
          {{segment.Homeownership}}
        </span>
        <span class="column cell {{segment.EmploymentLevelsClass}}">
          {{segment.EmploymentLevels}}
        </span>
        <span class="column cell {{segment.EducationLevelsClass}}">
          {{segment.EducationLevels}}
        </span>
        <span class="column cell {{segment.EthnicDiversityClass}}">
          {{segment.EthnicDiversity}}
        </span>
      </div>
  	</div>
  </div>
</div>