<div>
<h3>Search Segments by address</h3>
Address : <input type="text" ng-model="input.address">
City : <input type="text" ng-model="input.city"><br><br>
State : <input type="text" ng-model="input.state">
Zip Code : <input type="text" ng-model="input.zipcode">
<button ng-click = "search(input)">Search</button>
<div class="resultHolder">
	<div class="list" ng-repeat = "seg in segment">
		Segment System : <span><b>{{seg.SegSystem}}</b></span><br>
		Segment Name: <span><b>{{seg.SegmentName}}</b></span><br>
		Segment code: <span><b>{{seg.SegmentCode}}</b></span>
	</div>
</div>
</div>