<div class="container">
	<div class="row">
		<div class="search_bar">
			<div class="search_type">
				<b>Find your store by:</b> 
				<select ng-options="obj for obj in options" ng-model="input.select_type"></select>*
			</div>
		</div>
		<div class="col-md-2">
			<!-- <h4>Left Panel</h4> -->
		</div>
		<div class="col-md-8">
			<div class="search_form" ng-show="input.select_type=='Store Name'">
				<form name="myForm">
					<input type="text" name="input" ng-model="input.name" required placeholder="Enter Store name">*
					<button type='submit' class='search_btn btn' ng-click='by_name()' ng-disabled="myForm.$invalid" > <span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
				</form>
				<!-- <span class="error">{{status_name}}</span><br> -->
				<h3 class="redFont">{{output.message}}</h3>
			</div>
			<div class="search_form" ng-show="input.select_type=='Owner Name'">
				<form name="myForm_owner">
					<input type="text" name="input" ng-model="input.owner" required placeholder="Enter Owner name">
					<button type='submit' class='search_btn btn' ng-click='by_owner()' ng-disabled="myForm_owner.$invalid"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
				</form>
				<!-- <span class="error">{{status_owner}}</span><br> -->
				<h3 class="redFont">{{output.message}}</h3>
			</div>
			<div class="search_form" ng-show="input.select_type=='Market'">
				<form name="myForm_market">
					<input type="text" ng-model="input.scantrackcode" placeholder="Enter Scan track code">
					<input type="text" ng-model="input.marketcode" placeholder="Enter Market code">
					Select Indicator:
					<select ng-options="obj for obj in indicators" ng-model="input.indicator"></select>
					<button type='submit' class='search_btn btn' ng-click='by_market()'ng-disabled="!input.scantrackcode && !input.marketcode && !input.indicator"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
				</form>
				<!-- <span class="error">{{status_market}}</span><br> -->
				<h3 class="redFont">{{output.message}}</h3>
				
			</div>
			<div class="search_form" ng-show="input.select_type=='Location'">
				<form name="myForm_location">
					<input type="text" ng-model="input.statefipscode" placeholder="Enter State FIPS Code"><br><br>
					<input type="text" ng-model="input.city" placeholder="Enter City">
					<input type="text" ng-model="input.streetaddress" placeholder="Enter Street Address"><br><br>
					<input type="text" ng-model="input.latitude" placeholder="Latitude">
					<input type="text" ng-model="input.longtitude" placeholder="Longitude">
					<input type="text" ng-model="input.radius" placeholder="Radius"><br><br>
					<button type='submit' class='search_btn btn' ng-click='by_location()' ng-disabled="!input.latitude && !input.longtitude &&!input.statefipscode && !input.city && !input.streetaddress && !input.radius"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
				</form>

<!-- 				<span class="error">{{status_loc}}</span><br>
 -->				<h3 class="redFont">{{output.message}}</h3>
			</div>
			<div class="search_form" ng-show="input.select_type=='Size'">
				<form name="myForm_size">
					<input type="text" ng-model="input.sizecode" placeholder="Size Code">
					<input type="text" ng-model="input.sellingspacearea" placeholder="Selling space area">	
					<button type='submit' class='search_btn btn' ng-click='by_size()' ng-disabled="!input.sizecode && !input.sellingspacearea"><span class="icon glyphicon glyphicon-search"></span>&nbsp;Search</button>
				</form>
<!-- 				<span class="error">{{status_size}}</span><br>-->
				<h3 class="redFont">{{output.message}}</h3>
			</div>
			<br>
			<div class="resultHolder" ng-show="showTable">
				<table class="table table-striped table-bordered storeDetails">
					<thead>
						<th>Store code</th>
						<th>Store Name</th>
						<th>Owner Name</th>
						<th>Store Satus</th>
					</thead>
					<tbody>
						<tr ng-repeat="store in stores">
							<td ng-click="open(store.StoreCode)">{{store.StoreCode}}</td>
							<td>{{store.StoreName}}</td>
							<td>{{store.OwnerName}}</td>
							<td>{{store.StoreStatus}}</td>

						</tr>
					</tbody>
				</table>
			</div>
			<!-- <pagination direction-links="false" boundary-links="true" total-items="totalItems" page="currentPage"></pagination> -->
			<div ng-show='pageshow'>
				<pagination total-items="totalItems" page="input.pageno" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
			</div>
		</div>
	</div>
</div>