<div>
	<div class="modal-header modal_store">
		<h3>Additional Store Details</h3>
	</div>
	<div class="modal-body">
		<span><b>{{storeInfo.STORE_NAME}}</b></span><br><br>
		<span>TDLINX Store Coode:{{storeInfo.TDLINX_STORE_CODE}}</span><br>
		<span>Store Number : {{storeInfo.STORE_NUMBER}}</span><br>
		<span>Address : {{storeInfo.STREET_ADDRESS}} ,{{storeInfo.CITY}}</span><br>
		<SPAN>Ph No: {{storeInfo.PHONE_NUMBER}}</SPAN>
	</div>
	<div class="modal-footer">
            <button class="modal_okbtn btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>