<div class='col-md-12'>
  <h2>Search Categories by their name:</h2>
  <span>Select Category</span><br>
  <select ng-model="categoryName" ng-options="category for category in categories"></select><br>
  <span>Select Sub Category</span><br>
  <select ng-model="subCategoryName" ng-options="sub.SubCategoryName for sub in subCategories"></select><br>
  <span>Select Demography</span><br>
  <select ng-model="demography" ng-options="sub.DemographyName for sub in demographies"></select><br>
  <div class='resultHolder' ng-repeat='item in items'>
    <div ng-repeat="(k, v) in item track by $index">
      <b>{{k}}: </b>{{v}} <br>
    </div>
  </div>
</div>